{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static '/css/instaclone.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">

        <script src="https://kit.fontawesome.com/3168943f53.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <header>
            <div class="container header-contents">
                <h1><a href="/" id="toptitle-style">Instaclone</a></h1>
                <nav>
                    <ul class="top-icon">
                        <li>
                            <a href="/"><i class="fa-solid fa-house fa-lg"></i></a>
                        </li>
                        <li>
                            <a href="/"><i class="fa-solid fa-square-plus fa-lg"></i></a>
                        </li>
                    </ul>
                </nav>
                
            </div>
            
        </header>

        <div class="container">
            <div class="main-contents">
                {% block content %}
                {% endblock %}
            </div>
            
        </div>
        
    </body>
</html>

